<%- include('partials/header') %>

<div class="ui main text container segment">



        </div>
    </div>
</div>

<div class="container">
    <div class="blog-post-wrapper">
        <div class="blog-image">
            <img src="<%= blog.image %>">
        </div>
        <div class="blog-text">
            <div class="blog-title">
                <h1><%= blog.title %></h1>
            </div>
            <div class="blog-body">
                <p><%= blog.body %></p>
            </div>
        </div>
        <div class="blog-buttons">
            <a class="btn btn-blue" href="/blogs/<%= blog._id %>/edit">Edit</a>
            <form id="delete" action="/blogs/<%= blog._id %>?_method=DELETE" method="POST">
                <button class="btn btn-red">Delete</button>
            </form>
        </div>

    </div>
</div>

<%- include('partials/footer') %>